@import url('https://fonts.googleapis.com/css?family=Lato');

body {
    background: #f6f7ff;
    font-family: 'Lato', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
}

.page__header {
    margin-left: 1.5rem;
    margin-top: 2rem;
}