@import url('https://fonts.googleapis.com/css?family=Lato');

body {
    background: #E3E3E3;
    font-family: 'Lato', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
}

$one-col: 20rem;
$two-col: 40rem;
$three-col: 59rem;
$four-col: 79rem;